{{define "scripts"}}{{end}}
<!DOCTYPE html>
<html>
  <head>
    <title>example{{if .Title}}: {{.Title}}{{end}}</title>
    <link type="text/css" rel="stylesheet" href="{{.Bootstrap}}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="/public/css/dpny.css">
  </head>
  <body>
    <nav class="navbar navbar-top navbar-inverse">
      <a class="navbar-brand" href="/">example</a>
      <ul class="nav navbar-nav">
        <li class="nav-item {{if eq .Title "home"}}active{{end}}">
          <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {{if eq .Title "about"}}active{{end}}">
          <a class="nav-link" href="/d/about">about</a>
        </li>
        <li class="nav-item {{if eq .Title "contact"}}active{{end}}">
          <a class="nav-link" href="#">contact</a>
        </li>
      </ul>
    </nav>
    <div class="container">
